<configuration>
  <system.webServer>
    <staticContent>
      <!-- Correct MIME type for JS -->
      <mimeMap fileExtension=".js" mimeType="application/javascript" />
      <mimeMap fileExtension=".mjs" mimeType="application/javascript" />
    </staticContent>
  </system.webServer>
</configuration>