{%extends 'base.html'%}
{%load static%}

{%block css%}
<!-- <link rel="stylesheet" href="{%static 'css/login.css' %}" /> -->


<link rel="stylesheet" href="{%static 'css/file-upload.css'%}"/>
{%endblock%}
{%block title%}
<title>File Upload</title>
{%endblock%}

{%block body%}
<div class= "file-upload-container">
    <div class="file-upload-btton-container-child d-flex w-100 h-100 p-1">
        <div class="file-upload-child-container ps-4  pt-3 flex flex-column   border border-dark">
            <div class="upload-container container-width  d-flex flex-column">
                <form method="post" enctype="multipart/form-data" id="upload-file-form">{%csrf_token%}
                    <div class="upload-header-container">
                        <label for="formFile" class="form-label upload-header-text">Leave File</label>
                        <input class="form-control form-control-sm" accept=".xlsx" type="file" id="file_upload" name="file_upload">
                    </div>
                        <!-- <span class="last-file-text">Last File uploaded – </span> -->


                    <div class="file-upload-btton-container d-flex mt-2">
                        <button type="submit" class="btn btn-class btn-sm btn-width rounded-pill spinner-btn "  disabled>Upload</button>
                        <button class="btn btn-class btn-sm btn-cancel btn-width rounded-pill spinner-btn" disabled>Cancel</button>

                    </div>
                </form>

            </div>
            <div class="record-container container-width  h-75 d-flex ">
                <div class="previous-file-upload-container w-100 pt-3">
                    <h6 class="previous-file-upload-text">Previous File Upload Details</h6>
                    <div class="previous-file-container-list">
                        {%for file in file_data%}
                            <div class="record-text-conatiner d-flex p-2">
                                <span class="record-list-text ">{{file.upload_date|date:"d/m/Y"}} – {{file.excel_file.name|slice:"13:" }}</span>
                            </div>
                        {%endfor%}
                        
                        
                        
                        
                        
                    </div>

                </div>

            </div>


        </div>

        <div class="d-flex flex-column h-100 div-container-parnt ">
        <!-- <div class="modify-project-container  border border-dark p-3 d-flex flex-column ">
            <div class="modify-project-header">
                <p class="upload-header-text">Modify Internal Client Team Members</p>
            </div>

            <span class="select-span-text">Please select any one of the below option-</span>

            <div class="radio-container d-flex">
                <div class="form-check">
                    <input class="form-check-input project-radio" type="radio" name="flexRadioDefault" id="existing_project" checked>
                    <label class="form-check-label label-class" for="flexRadioDefault1">Existing Client</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input project-radio" type="radio" name="flexRadioDefault" id="new_project" >
                    <label class="form-check-label label-class" for="flexRadioDefault2">New Client</label>
                </div>

                <div class="form-check">
                    <input class="form-check-input project-radio" type="radio" name="flexRadioDefault" id="bluk_client_file" >
                    <label class="form-check-label label-class" for="flexRadioDefault2">Bulk Client File</label>
                </div>

            </div>

            <div class="existing-project-container d-flex flex-column pt-3" id="existing-project-container">
            <form method="post"  id="existing-project-form">{%csrf_token%}
                <div class="existing-project-name-container d-flex justify-content-between">
                    <p class="existing-project-text pt-1">Client Name</p>
                    <div class="input-container col-auto">
                        <select class="form-select " name="project_type" id="project_type" >
                            <option value="" selected disabled>Select Client</option>
                            {%for type in project_detail_data%}                                
                            <option value="{{type.id}}">{{type.project_name}}</option>
                            {%endfor%}
                        </select>

                    </div>

                </div>

                <div class="existing-project-name-container d-flex justify-content-between">
                    <p class="existing-project-text pt-1">Assigned Members</p>
                    <div class="input-container col-auto " id="member-id">
                        <input type="text" class="arrow form-control input-text" placeholder="Select Members" aria-label="Username" aria-describedby="basic-addon1">

                    </div>

                </div>

                <div class="existing-project-name-container  pt-3">
                    <div class="input-container col-auto w-100 d-flex justify-content-end">
                        <button class="btn btn-class btn-sm  rounded-pill width-btn up-del " disabled>Update Client</button>
                        <button type="submit" class="btn btn-class btn-sm btn-cancel rounded-pill width-btn up-del" disabled>Delete Client</button>

                    </div>

                </div>
            </form>
            </div>
            


        </div> -->

        <div class="modify-project-container new-height border border-dark p-3 d-flex flex-column ">
            <!-- <div class="modify-project-header">
                <p class="upload-header-text">Upload Employee Details</p>
            </div> -->

            <div class="existing-project-container d-flex flex-column pt-1" id="emps-project-containers">
                <form method="post" enctype="multipart/form-data" id="emp-upload-file-form">{%csrf_token%}
                    <div class="upload-header-container">
                        <label for="formFile" class="form-label upload-header-text">Employee Details File</label>
                        <input class="form-control form-control-sm" accept=".xlsx" type="file" id="emps_file_upload" name="file_upload">
                    </div>
                        <!-- <span class="last-file-text">Last File uploaded – </span> -->


                    <div class="file-upload-btton-container w-100 d-flex  justify-content-end h-75 align-items-end">
                        <div class=" width-class">
                            <button type="submit" class="btn btn-class btn-sm w-100  rounded-pill spinner-btn emps-btn "  disabled>Upload</button>
                        </div>
                        <div class="width-class">
                            <button class="btn btn-class btn-sm btn-cancel w-100  rounded-pill spinner-btn emps-btn" disabled>Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
            


        </div>
        </div>

 


    </div>
    
    
</div>

{%endblock%}


{%block js%}
<!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script> -->

<script src='{%static "js/dist/index.global.js" %}'></script>
<script src='{%static "js/file_upload.js" %}'></script>
{%endblock%}
